:root {
    --main-color: #0094ff;
    --secondary-color: #10cab7;
    --third-color: #2c4755;
    --main-font: 20px;
}

@media (max-width:992px) {
     :root {
        --main-font: 30px;
    }
}


/*:root{ 
	--main-color:#141F23;
	--secondary-color:#93D334;
	background:#38464F;
 }*/

.surprise {
    display: none;
    width: 90%;
    height: 50%;
    background-color: rgba(0 255 0/0.8);
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    animation: surprise 4s ease 1s 1 normal forwards;
}

.surprise p {
    font-size: 70px;
    font-weight: 900;
    color: white;
    border-bottom: 4px solid white;
}

@keyframes surprise {
    90% {
        left: 60%;
    }
    100% {
        left: -1300px;
    }
}


/*start welcome*/

.welcome {
    width: 50%;
    display: flex;
    height: 70px;
    background-color: rgba(0 255 0/0.8);
    color: white;
    line-height: 1.2;
    z-index: 11;
    border-radius: 50px;
    left: 25%;
    top: 0px;
    text-align: center;
    font-size: calc(var(--main-font) + 20px);
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: welcome 4s ease 1s 1 normal forwards;
}

@keyframes welcome {
    15% {
        transform: scale(1.07);
    }
    80% {
        transform: scale(1);
    }
    90% {
        left: 30%;
    }
    100% {
        left: -1300px;
    }
}

@media (max-width:992px) {
    .welcome {
        height: 120px;
    }
}


/*end welcome*/


/*start register*/

.register {
    height: 70px;
    width: 103px;
    line-height: 1.3;
    z-index: 11;
    border-radius: 50px;
    left: 153px;
    top: -12px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 104px;
    animation: warning 1.5s ease 0s infinite normal forwards;
}

@media (max-width:991px) {
    .register {
        width: 160px;
        left: 140px;
    }
    .btn {
        width: 160px;
    }
}

@keyframes warning {
    25% {
        filter: hue-rotate(-5deg);
        filter: brightness(80%);
    }
    50% {
        filter: hue-rotate(25deg);
        filter: brightness(120%);
    }
    75% {
        filter: hue-rotate(-5deg);
        filter: brightness(70%);
    }
    100% {
        filter: hue-rotate(0deg);
        filter: brightness(100%);
    }
}

.card-body {
    width: 300px;
    background-color: rgba(0 0 0/0.5);
    color: white;
    display: block;
    visibility: visible;
    font-size: 30px;
    font-weight: 900;
    top: -10px;
    left: 110px;
}

.card-body a {
    font-size: 35px;
    color: var(--secondary-color);
}

@media (max-width:992px) {
    .card-body {
        width: 430px;
        font-size: 40px;
        left: 140px;
    }
    .card-body a {
        font-size: 40px;
    }
}


/*end register*/

html {
    scroll-behavior: smooth;
    word-spacing: 7px;
}

*::selection {
    color: var(--main-color);
    background-color: white;
}

.parent {
    margin: 0px;
}

.parent #home {
    position: absolute;
    top: 0;
}

.container {
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

body {
    background-color: white;
    direction: rtl;
    font-family: serif;
    margin: 0px;
}

section {
    display: flex;
    flex-wrap: wrap;
}


/*start aside*/

aside {
    visibility: hidden;
    width: 70%;
    min-height: 700px;
    margin-left: 3px;
    color: white;
    border-radius: 10px;
    position: fixed;
    left: 0px;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    z-index: 12;
}

@media (max-width:992px) {
    aside {
        min-height: 800px;
    }
}

aside:hover .button {
    transform: rotate(90deg);
    left: 40%;
    filter: hue-rotate(-35deg);
}

aside:hover .links {
    visibility: visible;
}

aside:hover .links ul li a {
    visibility: visible;
}

.button {
    visibility: visible;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 5px;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.button:hover {
    transform: rotate(90deg);
    left: 40%;
    filter: hue-rotate(-35deg);
}

.button:hover+.links {
    visibility: visible;
}

.button:hover+.links ul li a {
    visibility: visible;
}

.links {
    visibility: hidden;
    border-radius: 5px;
    background: rgba(0, 0, 0, .5);
    width: 100%;
}

.fst,
.sst {
    width: 100%;
    height: 200px;
}

.sst {
    position: relative;
    top: -15px;
}

.links .fst ul,
.links .sst ul {
    padding: 15px;
    margin: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 60%);
    grid-column-gap: 15px;
}

@media (min-width:992px) {
    .links .fst ul,
    .links .sst ul {
        grid-template-columns: repeat(3, 35%);
    }
    aside {
        min-height: 570px;
    }
}

.links .fst span,
.links .sst span {
    font-size: 50px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5px;
}

.links .fst span {
    margin-top: 50px;
}

.fst ul li,
.sst ul li {
    visibility: hidden;
    padding: 5px 0px 0px 7px;
    text-align: right;
    min-width: 80px;
    font-size: 22px;
}

.fst ul li a,
.sst ul li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: calc(var(--main-font) + 15px);
}

.fst ul li a:hover,
.sst ul li a:hover {
    color: #141F23;
    border-bottom: #141F23 solid 2px;
}

hr {
    border: 2px dashed #777;
}

aside .links hr {
    margin-top: 160px;
}

@media (min-width:992px) {
    aside .links hr {
        margin-top: 50px;
    }
}


/*end aside*/

.home {
    width: 110px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 10;
}


/*start header*/


/* 
header {
    width: 100%;
    height: 400px;
    background-image: url("../images/wave.jpg");
    background-size: 1050px;
    position: relative;
    margin: 70px 0 0;
}

@media (max-width:991px) {
    header {
        margin: 120px 0 0;
    }
}

header>p {
    position: absolute;
    left: 50%;
    margin: 77px auto 0;
    transform: translate(-50%, -50%);
    direction: ltr;
    text-align: center;
    line-height: 1;
    font-size: 40px;
    width: 100%;
    color: lightblue;
}

header>p span {
    font-size: 80px;
    color: gold;
}

header q {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    direction: ltr;
    text-align: center;
    font-size: 25px;
    color: lightblue;
}

header q span {
    font-size: 40px;
    color: gold;
}

header img {
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
}

@media(min-width:990px) {
    header img {
        bottom: -300px;
    }
    section {
        position: relative;
        top: 180px;
    }
}

@media(min-width:1024px) {
    header {
        background-color: var(--main-color);
        background-image: none;
    }
    header p {
        font-size: 50px;
        margin-top: 100px;
        line-height: 1.3;
        ;
    }
    header p span {
        font-size: 100px;
    }
    header q {
        margin-top: 60px;
        left: 50%;
        font-size: 35px;
    }
    header img {
        width: 300px;
        bottom: -460px;
    }
} */


/*end header*/


/*start section*/

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}

section .article.hint {
    width: 60%;
    margin: 100px auto;
}

@media(max-width:990px) {
    section .article.hint {
        width: 105%;
    }
}

section .article {
    width: 60%;
    height: 0px;
    color: white;
    background-color: var(--main-color);
    border-radius: 10px;
    font-weight: 550;
    position: relative;
    margin: 120px auto;
    line-height: 1.8;
    transition-duration: 1s;
}

@media(max-width:990px) {
    section .article {
        width: 100%;
    }
}

.collapse {
    transition-timing-function: ease-out;
    transition-duration: 2.5s;
    text-align: right;
}

section .article .content {
    font-size: calc(var(--main-font) + 15px);
    padding: 50px 15px 15px;
}

@media(min-width:990px) {
    section .article .content {
        font-size: calc(var(--main-font) + 5px);
    }
}

section .hint .title.first::before {
    border-style: none;
}

section .article .title,
section .hint .title.first {
    width: 500px;
    height: 100px;
    background-color: var(--secondary-color);
    text-align: center;
    color: #000000;
    margin-bottom: -12px;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: -50px;
    right: -40px;
    z-index: 1;
    font-size: calc(var(--main-font) + 30px);
    box-shadow: 7px 7px 30px 0px var(--secondary-color);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

@media (min-width:992px) {
    section .article .title,
    section .hint .title.first {
        width: 400px;
    }
}

section .hint .title.first,
section .article .title {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:992px) {
    section .hint .title.first,
    section .article .title {
        font-size: calc(var(--main-font) + 15px);
    }
}

.dbarrow {
    width: 76px!important;
    position: absolute;
    right: 10px;
    transform: rotate(0deg);
    transition-duration: 0.7s;
    top: auto!important;
}

section .hint .title.first {
    justify-content: center;
}

section .x-gold {
    color: gold;
}

section .article .title::before,
section .hint .title.first::before {
    content: '';
    display: none;
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-color: var(--secondary-color) transparent transparent var(--secondary-color);
    border-style: solid;
    position: absolute;
    right: 0px;
    bottom: -40px;
}

section .article .download {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-right: 10px;
    gap: 15px;
}

section .article img {
    width: 150px;
    display: inline;
    position: absolute;
    left: 20px;
    top: -75px;
}

@media (min-width:992px) {
    section .article img {
        width: 115px;
    }
}

section .article h2 {
    text-align: center;
    font-size: calc(var(--main-font) + 30px);
    margin-bottom: 40px;
}

section .article .download a {
    width: 225px;
    text-align: center;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    transition-duration: .5s;
    font-size: calc(var(--main-font) + 10px);
    margin-bottom: 20px;
    text-decoration: none;
    z-index: 2;
}

section .article .download a:hover {
    color: var(--secondary-color);
    background-color: #fff;
    transform: scalex(.9);
}

.btn-tooltip {
    font-size: 20px;
}

@media (max-width:992px) {
    .btn-tooltip {
        font-size: 25px;
    }
}

section .h {
    padding: 5px;
    margin: 50px auto;
    background-color: var(--secondary-color);
    position: relative;
    width: 80%;
    font-size: calc(var(--main-font) + 20px)!important;
    text-align: center;
    color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 7px 7px 30px 0px var(--secondary-color);
}

#hsec,
#hfir {
    font-size: calc(var(--main-font) + 40px)!important;
}

section .h::before {
    content: '';
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-color: var(--secondary-color) transparent transparent var(--secondary-color);
    border-style: solid;
    position: absolute;
    right: 0px;
    bottom: -40px;
}

section .h::after {
    content: '';
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-color: var(--secondary-color) var(--secondary-color) transparent transparent;
    border-style: solid;
    position: absolute;
    left: 0px;
    bottom: -40px;
}


/*end section*/


/*start footer*/

footer {
    width: 100%;
    margin-top: 150px;
    background-color: var(--third-color);
}

@media (min-width:992px) {
    footer {
        margin-top: 300px;
    }
}

footer .qoute {
    text-align: center;
    width: 40%;
    margin: 0 auto 0 0;
    position: absolute;
    left: 0;
}

footer .qoute p {
    font-size: 30px;
    width: 100%;
    color: lightblue;
    margin: 20px 0 0 30px;
    line-height: 1.5;
}

footer .qoute del {
    color: #FFC801;
    font-size: 40px;
}

footer .qoute strong {
    color: #FFC801;
    font-size: 45px;
}

footer .contact-us {
    display: flex;
    flex-direction: column;
}

footer .contact-us img {
    width: 180px;
    margin: 10px auto;
}

footer .contact-us h2 {
    color: #FFC801;
    font-size: 60px;
    margin: 30px auto;
}

@media (max-width:992px) {
    footer .contact-us img {
        margin: 60px auto;
    }
}

footer .contact-us form {
    width: 100%;
    height: auto;
    direction: ltr;
    display: flex;
    justify-content: center;
}

footer .contact-us form .form2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

footer .contact-us .input {
    outline: none;
    border: none;
    width: 450px;
    height: 80px;
    border-bottom: 4px solid #0094ff;
    background: none;
    font-size: calc(var(--main-font) + 10px);
    padding: 15px;
    padding-right: 80px;
    margin: 15px auto;
    color: white;
}

footer .contact-us .input.readonly {
    background: url("../images/ok.png") no-repeat 120% 50%;
    background-size: 65px;
    background-color: rgba(0 0 0/0.2);
    border-bottom: 4px solid #43a045;
    animation: valid 1s ease 0s 1 normal forwards;
}

footer .contact-us .input.text {
    height: 100px;
}

footer .contact-us .input:focus:invalid {
    background: url("../images/warning.png") no-repeat 98% 600%;
    background-size: 65px;
    background-color: rgba(0 0 0/0.2);
    border-bottom: 4px solid #f44336;
    animation: invalid 1s ease 0s 1 normal forwards;
}

@keyframes invalid {
    100% {
        background: url("../images/warning.png") no-repeat 98% 50%;
        background-size: 65px;
        background-color: rgba(0 0 0/0.2);
    }
}

footer .contact-us .form2 .input:valid {
    background: url("../images/ok.png") no-repeat 120% 50%;
    background-size: 65px;
    background-color: rgba(0 0 0/0.2);
    border-bottom: 4px solid #43a045;
    animation: valid 1s ease 0s 1 normal forwards;
}

@keyframes valid {
    100% {
        background: url("../images/ok.png") no-repeat 98% 50%;
        background-size: 65px;
        background-color: rgba(0 0 0/0.2);
    }
}

footer .contact-us .form2 .acception {
    display: none;
    text-align: center;
    width: 200px;
    min-height: 100px;
    background-color: rgba(0 0 0 /0.5);
    position: relative;
    bottom: 95px;
    left: 350px;
    font-size: 30px;
    color: white;
    margin: -55px;
}

@media (max-width:992px) {
    .acception {
        left: 395px;
    }
}

.acception::before {
    content: '';
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-color: transparent rgba(0 0 0 /0.5) transparent transparent;
    border-style: solid;
    position: absolute;
    left: -40px;
    bottom: 0px;
}

input:focus:invalid+.acception {
    display: block;
}

footer .contact-us div input[type="submit"] {
    width: 250px;
    height: 50px;
    background: #0077ff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 40px;
    font-size: calc(var(--main-font) + 5px);
    margin: 20px auto;
    transition-duration: .5s;
}

footer .contact-us div input[type="submit"]:hover {
    background: #fff;
    color: #0077ff;
    transform: scaleX(.9);
}

footer .contact-us ::placeholder {
    color: #fff;
    text-align: left;
    font-size: calc(var(--main-font) + 10px);
}

footer .rights {
    width: 100%;
    height: 100px;
    background-color: #141F23;
    justify-content: center;
    display: flex;
    align-items: center;
}

footer .rights img {
    width: 40px;
}

footer .rights span {
    color: white;
    font-size: calc(var(--main-font) - 0px);
    margin-right: 50px;
}


/*end footer*/

@media (min-width:992px) {
    /* .container{
		width:730px;
	} */
    aside:hover .button,
    .button:hover {
        left: 0;
    }
}

@media (min-width:992px) {
    /* .container{
	width:970px;
	}
	
}
	@media (min-width:1200px){
	.container{
	width:1170px;
	} */
}