body{
    background-color: #0094ff;
    font-family: serif;
}
.parent{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}
.container h2{
    font-size: 55px;
    color: gold;
}
@media (max-width:992px){
    .container h2{
        font-size: 35px;
    }
}
.container p{
    font-size: 25px;
    color: lightblue;
    line-height: 1.6;
}
@media (max-width:992px){
    .container p{
        font-size: 20px;
    }
}
.container .balls{
    display: flex;
    justify-content: space-evenly;
}
.container .ball{
    background-color: cyan;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: ball 2s  0s infinite normal ;
    animation-timing-function: ease-in-out;
}
@media (max-width:992px){
    .container .ball{
        width: 20px;
        height: 20px;
    }
}
.container .ball.s{
    animation-delay: -1s;
    
}
@keyframes ball{
	25%{
        opacity: 0.5;
        transform: scale(0.5);
    }
    50%{
        opacity:1 ;
        transform: scale(1.5);
    }
    75%{
        opacity: 0.5;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}